*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

body{
  background-color: blue;
  background: linear-gradient(45deg,#ffffff, #9694ff, #001dfa, #371593, #3e4256);
  background-size: 300% 300%;
  animation: color 7.5s ease-in-out infinite;
}

@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%
  }
}

.container{
  background: white;
  width: 450px;
  padding:1.5rem;
  margin: 50px auto;
  border-radius: 10px;
}

.form{
  margin: 0.2rem;
}

.form-title{
  font-size:1.5rem;
  font-weight:bold;
  text-align: center;
  padding: 1.3rem;
  margin-bottom: 0.4rem;
}

input{
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2f09f1;
  padding-left: 0.1rem;
  font-size: 15px
}

.input-group{
  padding: 1% 0;
  position: relative
}

.input-group i{
  position: absolute;
  color: black
}

input:focus{
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid indigo;
}



label{
  color: black;
  cursor: auto;
  position: relative;
  left:1.7em;
  top:-2.4em;
  transition: 0.3s ease all;
}

recover a:hover{
  color: blue;
  text-decoration: underline;
}
.btn{
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius:5px;
  outline: none;
  border:none;
  width:100%;
  background: indigo;
  color: white;
  
}

.btn:hover{
  background: linear-gradient(90deg,#ffffff, #e894ff, #dd00fa, #611593, #4b3e56);
  background-size: 300% 300%;
  animation: color 3.5s ease-in-out infinite;
}

